#ligma{
    width: 320px;
    height: 300px; 
    border: 5px solid gray;
    margin: 0; 
    background: "https://www.google.com/search?q=anime+music+backgrounds&rlz=1C1SQJL_enUS802US802&tbm=isch&source=iu&ictx=1&fir=Zoh2JVN3TnUMrM%253A%252CBYYvrrMermU2UM%252C_&usg=AFrqEzdKoAlcO8SAaSbKxpau5acGQkocVw&sa=X&ved=2ahUKEwir8ZK8i97cAhXDxlkKHTNxD9cQ9QEwBnoECAAQEA#imgrc=Zoh2JVN3TnUMrM:";
    background-repeat: no-repeat;
}




